body {
    background-image: var(--bggrain);
    background-color: var(--bg3);
    background-attachment: fixed;
    background-size: cover;
    width: 50%;
    margin: 20px;
    padding-top: 100px;
}

tablilla {
    --graccent1: #ab6338;
    --graccent2: #30956f;
    display: flex;
    gap: 0;
    background: var(--bg6);
    margin: 0 auto;
    width: 90%;
    max-width: 750px;
    flex-flow: column wrap;
    font-size: 16px;
    font-family: var(--font3);
    color: var(--text1);

    dec {
        display: block;
        text-align: center;
        background: var(--bg3);
        padding: 20px 10px;
    }

    c-content {
        padding: 30px;
        display: block;
        max-height: 600px;
        overflow: scroll;
        color: var(--text1);
        font-family: var(--font1), 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: justify;

        t-para {
            display: block;
            margin-bottom: 20px;
            padding: 0 10px;
            line-height: 1.8em;
        }

        h2 {
            font-family: var(--font3);
            font-size: 26px;
            text-transform: uppercase;
            font-weight: normal;
            margin: 20px 10px;
            color: var(--graccent1);
        }


    }

    c-header {
        display: flex;
        flex-direction: row;
        padding: 0 50px;
        height: 150px;
        align-items: center;
        justify-content: space-between;
        border-bottom-right-radius: 50px;
        corner-shape: bevel;
        background: var(--bg3);
        margin: 0;
        overflow: hidden;

        c-left {
            display: flex;
            flex-direction: column;

            i {
                position: relative;
                font-size: 130px;
                opacity: 0.3;
                top: 35px;
                color: var(--bg5);
            }

            span {
                font-family: var(--font3);
                font-size: 37px;
                font-weight: 400;
                padding-top: 10px;
                line-height: 100%;
                margin-bottom: -6px;
                color: var(--graccent1);
                position: relative;
                top: -60px;
            }

            b {
                text-transform: uppercase;
                font-family: var(--font2);
                font-size: 13px;
                letter-spacing: 2px;
                margin-top: 6px;
                position: relative;
                top: -60px;
            }
        }

        c-right {

            c-icon {
                border-bottom-right-radius: 30px;
                corner-shape: bevel;
                background: var(--bg2);
                padding: 20px;
                margin-right: -6px;
                display: block;
                height: 80px;
                box-sizing: content-box;
            }

            img {
                border-bottom-right-radius: 20px;
                corner-shape: bevel;
                object-fit: cover;
                width: 80px;
                height: 80px;
            }
        }

    }

    c-intro {
        display: flex;
        background: transparent;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        
        c-icon {
            border-bottom-right-radius: 30px;
            corner-shape: bevel;
            background: var(--bg3);
            padding: 20px 10px;
            width: 80px;
            font-size: 30px;
            text-align: center;
            color: var(--text2);
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        c-data {
            display: flex;
            flex-direction: row;
            padding: 20px 10px;
            gap: 5px;
            justify-content: space-around;
            align-items: center;
            width: calc(100% - 80px);

        }

    }
}


.crono {
    c-intro{
                c-data {
            display: flex;
            flex-direction: row;
            padding: 20px 10px;
            gap: 5px;
            justify-content: space-around;
            align-items: center;
            width: calc(100% - 80px);

            c-status {
                background: var(--bg5);
                text-align: center;
                text-transform: uppercase;
                padding-right: 15px;

                &:before {
                    content: '\f304';
                    font-size: 20px;
                    margin-right: 5px;
                    display: inline-block;
                    background: var(--bg2);
                    padding: 5px 15px;
                    border-bottom-right-radius: 10px;
                    corner-shape: bevel;
                    font-family: var(--fa-family-classic);
                }

                &[data-status="abierto"]:before {
                    content: '\f304';
                    background: var(--gr7b);

                }

                &[data-status="cerrado"]:before {
                    content: '\f023';
                    background: var(--gr6a);

                }

                &[data-status="abandonado"]:before {
                    content: '\f6e2';
                }

                &[data-status="global"]:before {
                    content: '\f0ac';
                    background: var(--gr7a);
                    color: var(--bg1);
                }
            }

        }
    }
    c-content {
        h2 {
            font-family: var(--font3);
            font-size: 26px;
            text-transform: uppercase;
            background: linear-gradient(78deg, var(--graccent1), var(--graccent2));
            font-weight: bold;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            -webkit-text-fill-color: transparent;
            display: inline-block;
            margin: 20px 10px;
        }
        a.c-card {
            display: flex;
            background: var(--bg3);
            margin-bottom: 10px;
            transition: transform 0.2s ease, background 0.2s ease;
            position: relative;
            flex-direction: column;
            align-items: flex-start;
            color: var(--text1);
            padding: 15px;

            &:hover {
                background: var(--bg4);
            }

            &:before {
                content: "el " attr(data-fecha) " con " attr(data-con);
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 1px;
                color: var(--graccent1);
                margin-bottom: 5px;
            }

            &:after {
                content: attr(data-estado);
                position: absolute;
                right: 0px;
                width: 60px;
                height: 100%;
                text-align: center;
                font-family: var(--fa-family-classic);
                font-size: 25px;
                font-weight: normal;
                text-transform: uppercase;
                color: var(--text1);
                top: 0;
                vertical-align: middle;
                display: flex;
                align-items: center;
                justify-content: center;
                border-bottom-left-radius: 20px;
                corner-shape: bevel;
                padding-left: 5px;
            }

            &[data-status="abierto"]:after {
                content: "\f304";
                background: var(--gr7b);
            }

            &[data-status="cerrado"]:after {
                content: "\f023";
                background: var(--gr6a);
            }

            &[data-status="abandonado"]:after {
                content: "\f6e2";
            }

            &[data-status="global"]:after {
                content: "\f0ac";
                background: var(--gr7a);
                color: var(--bg1);
            }
        }
    }
}

.relas {
    c-intro{
            c-data {
            display: flex;
            padding: 20px 10px;
            gap: 5px;
            justify-content: flex-start;
            align-items: stretch;
            width: calc(100% - 80px);
            flex-wrap: wrap;
            flex-direction: row;
            column-count: 2;
            }
            c-status {
                background: var(--bg3);
                text-align: left;
                width: 200px;
                padding: 10px;
                text-transform: inherit;
                border-bottom-right-radius: 20px;
                corner-shape: bevel;

                i{
                    margin-right: 8px;
                    color: var(--graccent2);
                    padding: 5px;
                    font-size: 20px;
            }

        }
    }
    c-content {
        display: flex;
        flex-direction: column;
        h2 {
            font-family: var(--font3);
            font-size: 26px;
            text-transform: uppercase;
            background: linear-gradient(78deg, var(--graccent1), var(--graccent2));
            font-weight: bold;
            background-clip: text;
            -webkit-background-clip: text;
            color: transparent;
            -webkit-text-fill-color: transparent;
            display: inline-block;
            margin: 20px 10px;
        }
        relas{
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            align-items: center;
            justify-content: center;
            flex-direction: row;
            align-content: flex-start;

            relacion{
                background: var(--bg2);
                width: 200px;
                display: flex;
                flex-direction: column;
                border-bottom-right-radius: 30px;
                corner-shape: bevel;
                i{
                    position: relative;
                    font-size: 20px;
                    left: 0;
                    top: 0;
                    color: var(--text1);
                    background: var(--graccent2);
                    padding: 10px 15px 15px 10px;
                    border-radius: 2px;
                    border-bottom-right-radius: 15px;
                    corner-shape: bevel;
                    z-index: 9;
                }
                img{
                    width: 100%;
                    height: 200px;
                    object-fit: cover;
                    border-bottom-right-radius: 30px;
                    corner-shape: bevel;
                    position: relative;
                    top: -40px;
                    left: 0;
                    padding: 20px;
                    margin-bottom: -40px;
                }
                
                 &:after{
                    content: attr(data-pj) " es mi " attr(data-rela);
                    font-size: 16px;
                    padding: 0 20px 5px;
                    font-family: var(--font3);
                    }
            }
        }
    }
}