#tienda-container { padding: 10px; max-width: 700px; margin: auto; }
.producto { margin-bottom: 10px; padding: 8px; border-bottom: 1px solid #ccc; }
.producto-img { width: 100px; margin-top: 5px; display: block; }
#carrito { background: #f3f3f3; padding: 10px; border-radius: 5px; }
#btn-finalizar { margin-top: 15px; padding: 8px 14px; cursor: pointer; }
