.product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

.product {
    width: 200px;
    border: 1px solid lightgray;
    padding: 10px;
    background: #f8f8f8;
    border-radius: 5px;
    margin: 5px 10px;
}

button.btn-add {
    background: #3793ff;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    margin: auto;
    width: 100%;
}

p-title {
    font-size: 20px;
    font-weight: bold;
    display: block;
}

p-price {
    padding: 4px;
    border-radius: 3px;
    margin: 4px;
    display: block;
}

div#tienda-container {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: row;
}

div#carrito-container {
    width: 30%;
    background: #f8f8f8;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}

div#tienda {
    max-width: 67%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

button#btn-finalizar {
    background: #3793ff;
    padding: 10px;
    display: block;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 5px;
}

button.btn-remove {
    border-radius: 100%;
    float: right;
    color: red;
    font-weight: bold;
}

.product-header {
    text-align: center;
    border-bottom: 1px solid lightgray;
    margin: 5px 2px;
}