.product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

.product {
    width: 31.33%;
    min-width: 300px;
    border: 1px solid lightgray;
    padding: 10px;
    background: #f8f8f8;
    border-radius: 5px;
    margin: 5px 10px 20px;
}

button.btn-add {
    background: #3793ff;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    margin: auto;
    width: 100%;
}

p-title {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    display: block;
}

p-price {
    border-radius: 3px;
    display: block;
    font-weight: bold;
    text-align: right;
    margin: 15px 0 5px;
}

desc {
    border-bottom: 1px solid lightgray;
    display: block;
    padding: 3px 0;
    height: 100px;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: visible;
}

div#tienda-container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    width: 1000px;
    margin: 0 auto;
}

div#carrito-container {
    width: 300px;
    background: #f8f8f8;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
    position: absolute;
    left: 0;
    top: 360px;
    height: 100vh;
}

div#tienda {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
}

button#btn-finalizar {
    background: #3793ff;
    padding: 10px;
    display: block;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
    margin-top: 5px;
}

button.btn-remove {
    border-radius: 100%;
    float: right;
    color: red;
    font-weight: bold;
}

.product-header {
    text-align: center;
    border-bottom: 1px solid lightgray;
    margin: 5px 2px;
}

.product-category {
    width: fit-content;
    padding: 2px 5px;
    border-radius: 3px;
    text-align: center;
    margin: 0 auto 5px;
    border: 1px solid;
    font-size: 12px;
    font-weight: bold;
    background: #f8f8f8;
    margin-top: -20px;
    margin-left: -20px;
}

.carrito-totales {
    margin-top: 20px;
    text-align: right;
    padding: 7px 10px;
}

span.carrito-line {
    padding: 5px;
    display: block;
    border-bottom: 1px dotted #e0e0e0;
}

div#filtro-categorias {
    background: #f8f8f8;
    padding: 10px;
    border: 1px solid lightgray;
    border-radius: 5px;
}