.product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}

.product {
    width: 200px;
    border: 1px solid lightgray;
    padding: 10px;
}

button.btn-add {
    background: #3793ff;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    margin: auto;
}

p-title {
    font-size: 20px;
    font-weight: bold;
    display: block;
}

p-price {
    background: yellow;
    padding: 4px;
    border-radius: 3px;
    margin: 4px;
}

div#tienda-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
}